<div class="mainDiv">
  <div class = topDiv>
    <h1 class="title"> staging Porfolio</h1>
  </div>
  <div class = "contentAreaDiv">
    <section class = "socialDiv">
      <p> My name is Cesar Santana!</p>
      <div class = "icon">
        <span><a href="https://www.linkedin.com/in/cesar-santana-9a918116b/"><img src="../assets/104493_linkedin_icon.svg" alt="linkedin icon" ></a></span>
        <span><a href="https://www.twitter.com"><img src="../assets/104501_twitter_bird_icon.png" alt="twitter icon" ></a></span>
        <span><a href="https://www.instagram.com/jackdelseis"><img src="../assets/1161953_instagram_icon.svg" alt="instagram icon" ></a></span>
        <span><a href="https://github.com/"><img src="../assets/211904_social_github_icon.svg" alt="github icon" ></a></span>
        <span><a href="https://github.com/"><img src="../assets/211660_email_icon.svg" alt="email icon" ></a></span>
      </div>
    </section>
    <section class="mainContentDiv">
      <mat-card class = mainContentCard>
      <div class = "summaryDiv">
        <div style = "display: flex; flex-direction: row;">
          <hr>
          <p style = "font-size: large;">Summary</p>
          <hr>
          </div> 
          <p>Systeems Engineer located in the dominican republic with:</p> 
          <ul class = "SummaryList">
            <li>Ample Software Testing Experience</li>
            <li>Knowledge and experience in front end web Development</li>
            <li> Growing Intereset in Data analysis and Data Science in general</li>
          </ul>
      </div>
      <div class="resumeDiv">
        <div style = "display: flex; flex-direction: row;">
          <hr>
          <p style = "font-size: large;">Resume</p>
          <hr>
          </div> 
          <p>Link to resume!</p> 
      </div>
      <div class="projectDiv">
        <div style = "display: flex; flex-direction: row;">
          <hr>
          <p style = "font-size: large;">Projects</p>
          <hr>
          </div> 
      </div>
      <div class ="projectDiv">
        <mat-card class="projectCard">
          Project 1 - Kmar Website
          <ul>
            <li>Angular</li>
            <li>Material Design</li>
            <li>Hosted on github pages</li>
          </ul>
          <button mat-raised-button> To Source Code </button>
        </mat-card>
        <mat-card class="projectCard">
          Project 1 - Kmar Website
          <ul>
            <li>Angular</li>
            <li>Material Design</li>
            <li>Hosted on github pages</li>
          </ul>
          <button mat-raised-button> To Source Code </button>
        </mat-card>
        <mat-card class="projectCard">
          Project 1 - Kmar Website
          <ul>
            <li>Angular</li>
            <li>Material Design</li>
            <li>Hosted on github pages</li>
          </ul>
          <button mat-raised-button> To Source Code </button>
        </mat-card>
      </div>
    </mat-card>
    </section>
  </div>
</div> 